:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.3rem 0 .8rem;
}

img {
  max-height: 35px;
  max-width: 35px;
  opacity: .2;
}

p {
  margin: 0 0 0 2rem;
  padding: 0;
}
